<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body style="background-color: powderblue;">
    <style>
        h1 {
            color: rgb(12, 12, 12);
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            text-align: center;
            background-color: rgb(50, 197, 223);

        }
        .col-sm-5{
            margin-left: auto;
            margin-right: auto;
        }
        h3{
            font-size: 20px;
            color: black;
            font-weight: 450;
        }

    </style>
   
<div>
	<h1>Student Database</h1>
	<tr>
		<div align = "center" >		   
		     <h3><a  th:href="@{'/new'}">Add new</a></h3>     
	    </div>
	
	</tr>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
                     
  <thead class="thead-dark">
    <tr>
      		<th>Roll No.</th>
            <th>Name of Student</th>
            <th>Branch of Engineering</th>           
            <th>Edit</th>
            <th>Delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="student : ${liststudent }">
		<td th:text="${student.id}">Roll No.</td>
		<td th:text="${student.Name of student}">Name of student</td>
		<td th:text="${student.Branch of Engineering}">Branch of Engineering</td>			
		<td>
			<a th:href="@{'/edit/' + ${student.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${student.id}}">Delete</a>
		</td>		    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	<div>
</body>
</html>